
/* Contenedor principal de los productos */
.product-cards {
  padding: 20px;
  /* Se elimina display:flex para que los hijos (h2, ul, button) se apilen verticalmente */
}

/* Lista de productos */
.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* Usamos Grid para un control total sobre las columnas */
  display: grid;
  /* Columnas flexibles: se llenará con tantas columnas de 280px como quepan */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

/* Estilos para cada tarjeta de producto */
.product-card {
  height:auto;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

/* Efecto al pasar el mouse sobre la tarjeta */
.product-card:hover {
  transform: scale(1.02);
  background-color: whitesmoke;
}

/* Imagen del producto */
.product-figure {
  position: relative;
  overflow: hidden;
}

.product-figure img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
}

/* Información del producto */
.caption {
  padding: 15px;
  text-align: center;
}

.caption-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--beaver); 
}
.location {
  font-size: 0.9rem;
  color: var(--dark-green);
  margin-bottom: 10px;
}

.caption p {
  font-size: 1rem;
  color:var(--beaver);
  margin-bottom: 15px;
}

/*Detalle de productos- Section reviews*/
.reviews-title {
  margin:var(--gutter);
}

.reviews {
    border-top: 1px solid var(--beaver);
    padding-top: 10px;
    margin:var(--gutter);
}

.review {
    margin-bottom: 20px;
}

.stars {
    color: var(--review-star-color);
}
